body {
    background: lightgray;
    font-family: 'Poppins'
}

h2, p, .readme-wrapper, .colors {
   text-align: center;
}

a {
    display: block;
    border: white;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: rgb(189, 16, 16);
}

.boxes {
    display: block;
    margin: 9px 3em 1em 7em;
    padding: 4px 55px;
    border: 5px solid black;
    border-radius: 20em;
    width:30%;
}

span { 
    font-weight: bold;
    color: #5a00ff;
}

#box1 {
    background: rgba(0, 0, 255, 0.479);
}
#box2 {
    background: rgba(255, 0, 0, 0.534);
}
#box3 {
    background: rgba(172, 255, 47, 0.678);
}
#box4 {
    background: rgba(128, 0, 128, 0.651);
}

.image {
    width: 25px;
    height: 25px;
    background: black;
    position: relative;
    float: right;
}
.color1 {
    color: rgb(117, 8, 26);
    font-weight: bold;
}
.color2 {
    color: rgb(11, 5, 92);
    font-weight: bold;
}
.color3 {
    color: rgb(172, 98, 7);
    font-weight: bold;
}
#rank1 {
    color: blue;
}
#rank2 { 
    color: red;
}
#rank3 {
    color: black;
}
#rank4 {
    color: purple;
}
#rank5 {
    color: hotpink;
}   
.list1 {
    color: deeppink;
    border: 2px solid deeppink;
}
.list2 { 
    color: coral;
    border: 2px solid coral;
}
.list3 {
    color: dodgerblue;
    border: 2px solid dodgerblue;
}
.all-lists {
    text-align: center;
    width: 9%;
    padding: 13px 4px 14px 39px;
}